/*Stile des "Körpers" der Seite*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Kopf der Seite*/
header {
    background-color: #003366;
    color: #fff;
    padding: 10px 0;
}

/*Stile der Navigationsleiste*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ff9900;
}

/*Der Main-Abschnitt der Seite*/
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ffffff;
}

/*Stile des Kontaktformulares*/
label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 325px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 347px;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #001f4d;
}

/*Fußzeile*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.social-links {
    margin-left: 30px;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social-links li {
    margin-right: 10px;
}

.social-links img {
    width: 20px;
    height: 20px;
}
